@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body {
	background-color: rgba(131, 125, 125, 0.37);
}

label {
	text-align: left;
	margin-top: 1rem;
	font-size: 20px;
}

#title{
	margin: 2rem auto;
	font-size: 25px;
}
#timer {
	font-family: 'Orbitron', sans-serif;
	max-width: 350px;
	font-size: 25px;
	text-align: center;
}
.form {
	margin-top: 2rem;
}

#form {
	margin-left: 5rem;
	margin-right: 5rem;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;

}

.reset-timer-btn, .generate-timer-btn {
	text-align: center;
	margin-top: 1rem;
	font-size: 35px;
}

@media(min-width: 768px) {
	
	#timer {
		text-align: center;
		font-size: 25px;
		max-width: 700px;
	}
	label {
		font-size: 30px;
	}

	#form {
		font-size: 30px;
	}
	#title{
		
		font-size: 35px;
	}
}

@media(min-width: 1440px) {


}